@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
</div>

<div class="text-center""> 
    <p>Welcome to Joel's movie collection, where you will find the best movies according to Joel!</p>
</div>

<br />

<div class="text-center">
	<p> Here's a great pic for reference </p>
	<!--<img src="~ Had to leave this comment so picture would load correctly-->
	<img src="~/img/1.jpg" />
</div>

<br />
