@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
</div>

<br /><br />

<div class="text-center">
    <p>Joel usually performs at Quick Wits. Click below for more info.</p>
    <a href="https://www.qwcomedy.com/">Visit QWComedy</a>
</div>

<br />
<br />

<div class="text-center">
    <p>Here's a link to Joel's favorite movie Podcast. </p>
    <a href="https://baconsale.com/">Visit BaconSale</a>
</div>

<div style="text-align: center;">
    <a href="https://baconsale.com/">
        <img src="~/img/2.jpg" />
    </a>
</div>


